force-app/main/default/flows/Aggiorna_chiamata_prenotata_su_Opportunita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Cancel_date</name>
        <label>Cancel date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Opps.Chiamata_prenotata__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_date</name>
        <label>Set date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Opportunities.Chiamata_prenotata__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventRecord.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_date_and_stage</name>
        <label>Set date and stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Opportunities.Chiamata_prenotata__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventRecord.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunities.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vendita Fissata</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_list</name>
        <label>Check list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oppsList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunities</targetReference>
            </connector>
            <label>Not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_stage</name>
        <label>Check stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Richiesta_Sollecito</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunities.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Richiesta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunities.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sollecito vendita</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_date_and_stage</targetReference>
            </connector>
            <label>Richiesta / Sollecito</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_found</name>
        <label>Lead found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_or_deleted</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_deleted</name>
        <label>New or deleted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDeleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opps</targetReference>
            </connector>
            <label>Deleted</label>
        </rules>
        <rules>
            <name>New_or_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewOrUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunities</targetReference>
            </connector>
            <label>New or Updated</label>
        </rules>
    </decisions>
    <description>Flusso richiamato dai trigger sull&apos;Evento, che aggiorna il campo Chiamata Prenotata sull&apos;Opportunità quando un evento è creato, modificato o cancellato.</description>
    <environments>Default</environments>
    <interviewLabel>Aggiorna chiamata prenotata su Opportunità {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiorna chiamata prenotata su Opportunità</label>
    <loops>
        <name>Opportunities</name>
        <label>Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Lead.Opportunities__r</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Opps</name>
        <label>Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Lead.Opportunities__r</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cancel_date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eventRecord.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Email</queriedFields>
        <queriedFields>Id</queriedFields>
        <relatedRecords>
            <filterLogic>and</filterLogic>
            <filters>
                <field>StageName</field>
                <operator>NotEqualTo</operator>
                <value>
                    <stringValue>Chiuse/Conseguite</stringValue>
                </value>
            </filters>
            <filters>
                <field>StageName</field>
                <operator>NotEqualTo</operator>
                <value>
                    <stringValue>Chiuse/Perse</stringValue>
                </value>
            </filters>
            <getFirstRecordOnly>false</getFirstRecordOnly>
            <queriedFields>Chiamata_prenotata__c</queriedFields>
            <queriedFields>Id</queriedFields>
            <queriedFields>StageName</queriedFields>
            <relatedObject>Opportunity</relatedObject>
            <relationshipField>Opportunities__r</relationshipField>
        </relatedRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>oppsList</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>eventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>isDeleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isNewOrUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
