force-app/main/default/flows/Aggiorna_dettagli_prodotti_alla_modifica_dell_Interview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection_1</name>
        <label>Add to Collection 1</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>QuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Day_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_2</name>
        <label>Add to Collection 2</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>QuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Day_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>QL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_3</name>
        <label>Add to Collection 3</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>QuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Day_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>QL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_4</name>
        <label>Add to Collection 4</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>QuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Day_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>QL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_5</name>
        <label>Add to Collection 5</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>QuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Day_5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>QL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_6</name>
        <label>Add to Collection 6</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>QuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Day_6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>QL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_7</name>
        <label>Add to Collection 7</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>QuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Day_7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Description_Ceremony</name>
        <label>Description Ceremony</label>
        <locationX>1590</locationX>
        <locationY>1229</locationY>
        <assignmentItems>
            <assignToReference>QL.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionCeremony</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedQuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Description_Cocktail</name>
        <label>Description Cocktail</label>
        <locationX>1326</locationX>
        <locationY>1229</locationY>
        <assignmentItems>
            <assignToReference>QL.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionCocktail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedQuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Description_Dinner</name>
        <label>Description Dinner</label>
        <locationX>1854</locationX>
        <locationY>1229</locationY>
        <assignmentItems>
            <assignToReference>QL.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionDinner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedQuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Description_Lunch</name>
        <label>Description Lunch</label>
        <locationX>1062</locationX>
        <locationY>1229</locationY>
        <assignmentItems>
            <assignToReference>QL.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionLunch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedQuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Description_Party</name>
        <label>Description Party</label>
        <locationX>2118</locationX>
        <locationY>1229</locationY>
        <assignmentItems>
            <assignToReference>QL.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionParty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedQuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QL</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Day_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Day 1</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Filter_Day_7</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Day_7.Day_Text__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Day 1</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Add_to_Collection_1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Day_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Day 2</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Filter_Day_7</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Day_7.Day_Text__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Day 2</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Add_to_Collection_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Day_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Day 3</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Filter_Day_7</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Day_7.Day_Text__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Day 3</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Add_to_Collection_3</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Day_4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Day 4</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Filter_Day_7</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Day_7.Day_Text__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Day 4</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Add_to_Collection_4</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Day_5</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Day 5</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Filter_Day_7</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Day_7.Day_Text__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Day 5</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Add_to_Collection_5</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Day_6</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Day 6</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Filter_Day_7</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Day_7.Day_Text__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Day 6</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Add_to_Collection_6</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Day_7</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Day 7</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Filter_Day_7</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Day_7.Day_Text__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Day 7</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Add_to_Collection_7</targetReference>
        </connector>
    </collectionProcessors>
    <customErrors>
        <name>Error</name>
        <label>Error</label>
        <locationX>2162</locationX>
        <locationY>1613</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_day</name>
        <label>Check day</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Day_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Day_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Day_1</targetReference>
            </connector>
            <label>Day 1</label>
        </rules>
        <rules>
            <name>Day_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Day_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Day_2</targetReference>
            </connector>
            <label>Day 2</label>
        </rules>
        <rules>
            <name>Day_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Day_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Day_3</targetReference>
            </connector>
            <label>Day 3</label>
        </rules>
        <rules>
            <name>Day_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Day_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Day_4</targetReference>
            </connector>
            <label>Day 4</label>
        </rules>
        <rules>
            <name>Day_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Day_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Day_5</targetReference>
            </connector>
            <label>Day 5</label>
        </rules>
        <rules>
            <name>Day_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Day_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Day_6</targetReference>
            </connector>
            <label>Day 6</label>
        </rules>
        <rules>
            <name>Day_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Day_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Day_7</targetReference>
            </connector>
            <label>Day 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_description</name>
        <label>Check description</label>
        <locationX>1722</locationX>
        <locationY>1121</locationY>
        <defaultConnector>
            <targetReference>QL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Lunch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QL.Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Lunch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Description_Lunch</targetReference>
            </connector>
            <label>Contains Lunch</label>
        </rules>
        <rules>
            <name>Contains_Cocktail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QL.Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cocktail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Description_Cocktail</targetReference>
            </connector>
            <label>Contains Cocktail</label>
        </rules>
        <rules>
            <name>Contains_Ceremony</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QL.Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ceremony</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Description_Ceremony</targetReference>
            </connector>
            <label>Contains Ceremony</label>
        </rules>
        <rules>
            <name>Contains_Dinner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QL.Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dinner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Description_Dinner</targetReference>
            </connector>
            <label>Contains Dinner</label>
        </rules>
        <rules>
            <name>Contains_Party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QL.Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Party</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Description_Party</targetReference>
            </connector>
            <label>Contains Party</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DescriptionCeremony</name>
        <dataType>String</dataType>
        <expression>IF (
ISPICKVAL ({!$Record.Opportunity__r.SyncedQuote.Customer_Language__c}, &apos;English&apos;), 
{!DetailsCeremony} &amp; &apos; &apos; &amp; &apos;/&apos; &amp; &apos; &apos; &amp;  {!QL.Product2.DescriptionEN__c}, 
{!DetailsCeremony} &amp; &apos; &apos; &amp; &apos;/&apos; &amp; &apos; &apos; &amp;  {!QL.Product2.DescriptionIT__c}
)</expression>
    </formulas>
    <formulas>
        <name>DescriptionCocktail</name>
        <dataType>String</dataType>
        <expression>IF (
ISPICKVAL ({!$Record.Opportunity__r.SyncedQuote.Customer_Language__c}, &apos;English&apos;), 
{!DetailsCocktail} &amp; &apos; &apos; &amp; &apos;/&apos; &amp; &apos; &apos; &amp;  {!QL.Product2.DescriptionEN__c}, 
{!DetailsCocktail} &amp; &apos; &apos; &amp; &apos;/&apos; &amp; &apos; &apos; &amp;  {!QL.Product2.DescriptionIT__c}
)</expression>
    </formulas>
    <formulas>
        <name>DescriptionDinner</name>
        <dataType>String</dataType>
        <expression>IF (
ISPICKVAL ({!$Record.Opportunity__r.SyncedQuote.Customer_Language__c}, &apos;English&apos;), 
{!DetailsDinner} &amp; &apos; &apos; &amp; &apos;/&apos; &amp; &apos; &apos; &amp;  {!QL.Product2.DescriptionEN__c}, 
{!DetailsDinner} &amp; &apos; &apos; &amp; &apos;/&apos; &amp; &apos; &apos; &amp;  {!QL.Product2.DescriptionIT__c}
)</expression>
    </formulas>
    <formulas>
        <name>DescriptionLunch</name>
        <dataType>String</dataType>
        <expression>IF (
ISPICKVAL ({!$Record.Opportunity__r.SyncedQuote.Customer_Language__c}, &apos;English&apos;), 
{!DetailsLunch} &amp; &apos; &apos; &amp; &apos;/&apos; &amp; &apos; &apos; &amp;  {!QL.Product2.DescriptionEN__c}, 
{!DetailsLunch} &amp; &apos; &apos; &amp; &apos;/&apos; &amp; &apos; &apos; &amp;  {!QL.Product2.DescriptionIT__c}
)</expression>
    </formulas>
    <formulas>
        <name>DescriptionParty</name>
        <dataType>String</dataType>
        <expression>IF (
ISPICKVAL ({!$Record.Opportunity__r.SyncedQuote.Customer_Language__c}, &apos;English&apos;), 
{!DetailsParty} &amp; &apos; &apos; &amp; &apos;/&apos; &amp; &apos; &apos; &amp;  {!QL.Product2.DescriptionEN__c}, 
{!DetailsParty} &amp; &apos; &apos; &amp; &apos;/&apos; &amp; &apos; &apos; &amp;  {!QL.Product2.DescriptionIT__c}
)</expression>
    </formulas>
    <formulas>
        <name>DetailsCeremony</name>
        <dataType>String</dataType>
        <expression>&apos;Ceremony&apos; &amp; &apos; &apos; &amp; {!$Record.Hour_Ceremony__c}</expression>
    </formulas>
    <formulas>
        <name>DetailsCocktail</name>
        <dataType>String</dataType>
        <expression>&apos;Cocktail&apos; &amp; &apos; &apos; &amp; {!$Record.Hour_Cocktail__c}</expression>
    </formulas>
    <formulas>
        <name>DetailsDinner</name>
        <dataType>String</dataType>
        <expression>&apos;Dinner&apos; &amp; &apos; &apos; &amp; {!$Record.Hour_Dinner__c}</expression>
    </formulas>
    <formulas>
        <name>DetailsLunch</name>
        <dataType>String</dataType>
        <expression>&apos;Lunch&apos; &amp; &apos; &apos; &amp; {!$Record.Hour_Lunch__c}</expression>
    </formulas>
    <formulas>
        <name>DetailsParty</name>
        <dataType>String</dataType>
        <expression>&apos;Party&apos; &amp; &apos; &apos; &amp; {!$Record.Hour_Party__c}</expression>
    </formulas>
    <interviewLabel>Aggiorna dettagli prodotti alla modifica dell&apos;Interview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiorna dettagli prodotti alla modifica dell&apos;Interview</label>
    <loops>
        <name>QL</name>
        <label>QL</label>
        <locationX>974</locationX>
        <locationY>1013</locationY>
        <collectionReference>QuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_description</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Lines</name>
        <label>Update Quote Lines</label>
        <locationX>974</locationX>
        <locationY>1505</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>UpdatedQuoteLines</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Hour_Cake__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hour_Ceremony__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hour_Cocktail__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hour_Dinner__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hour_Lunch__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hour_Party__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Interview__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Day_7</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Lunch</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>QuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>UpdatedQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
