force-app/main/default/flows/Applica_e_rimuovi_IVA_sul_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Tax</name>
        <label>Assign Tax</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.Tax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax22</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tax_on_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_to_0</name>
        <label>Set Tax to 0</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.Tax</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tax_on_Quote</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Applicare</name>
        <choiceText>Applicare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Applicare</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rimuovere</name>
        <choiceText>Rimuovere</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rimuovere</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_choice</name>
        <label>Check choice</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Tax_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remove</defaultConnectorLabel>
        <rules>
            <name>Apply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Apply_or_Remove</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Applicare</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tax</targetReference>
            </connector>
            <label>Apply Tax</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Tax22</name>
        <dataType>Currency</dataType>
        <expression>{!recordId.TotalPrice} * 0.22</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Applica e rimuovi IVA sul Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Applica e rimuovi IVA sul Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Tax_on_Quote</name>
        <label>Update Tax on Quote</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Apply_Tax</name>
        <label>Apply Tax</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_choice</targetReference>
        </connector>
        <fields>
            <name>DecidiIva</name>
            <fieldText>&lt;p&gt;Vuoi applicare o rimuovere l&apos;IVA da questo preventivo?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Apply_or_Remove</name>
            <choiceReferences>Applicare</choiceReferences>
            <choiceReferences>Rimuovere</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Apply or Remove</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Indietro</backButtonLabel>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(93, 176, 0);&quot;&gt;L&apos;IVA è stata aggiornata correttamente. Per apportare ulteriori modifiche, cliccare su Fine e avviare nuovamente il flusso.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fine</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 6, 6);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fine</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Apply_Tax</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
