force-app/main/default/flows/Assign_Days_and_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Cocktail_2</name>
        <label>Assign Cocktail 2</label>
        <locationX>264</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cocktail_2.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormCocktail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Cocktail_2.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cocktail2Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cocktail_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cocktail_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Details_Ceremony_1</name>
        <label>Assign Details Ceremony 1</label>
        <locationX>264</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Loop_Ceremony_1.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormCeremony</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Ceremony_1.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ceremony1Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ceremony_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ceremony_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Details_Ceremony_2</name>
        <label>Assign Details Ceremony 2</label>
        <locationX>264</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>Loop_Ceremony_2.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormCeremony</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Ceremony_2.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ceremony2Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ceremony_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ceremony_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Details_Cocktail_1</name>
        <label>Assign Details Cocktail 1</label>
        <locationX>264</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cocktail_1.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormCocktail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Cocktail_1.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cocktail1Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cocktail_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cocktail_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Details_Dinner_1</name>
        <label>Assign Details Dinner 1</label>
        <locationX>264</locationX>
        <locationY>2042</locationY>
        <assignmentItems>
            <assignToReference>Loop_Dinner_1.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormDinner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Dinner_1.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dinner1Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Dinner_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Dinner_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Details_Dinner_2</name>
        <label>Assign Details Dinner 2</label>
        <locationX>264</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>Loop_Dinner_2.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormDinner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Dinner_2.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dinner2Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Dinner_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Dinner_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Details_Dinner_3</name>
        <label>Assign Details Dinner 3</label>
        <locationX>264</locationX>
        <locationY>2642</locationY>
        <assignmentItems>
            <assignToReference>Loop_Dinner_3.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormDinner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Dinner_3.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dinner3Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Dinner_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Dinner_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Details_Lunch_1</name>
        <label>Assign Details Lunch 1</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Loop_Lunch_1.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormLunch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lunch1Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Lunch_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lunch_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Details_Lunch_2</name>
        <label>Assign Details Lunch 2</label>
        <locationX>264</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>Loop_Lunch_2.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormLunch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Lunch_2.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lunch2Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Lunch_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lunch_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Details_Party_1</name>
        <label>Assign Details Party 1</label>
        <locationX>264</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>Loop_Party_1.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormParty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Party_1.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Party1Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Party_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Party_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Details_Party_2</name>
        <label>Assign Details Party 2</label>
        <locationX>264</locationX>
        <locationY>3242</locationY>
        <assignmentItems>
            <assignToReference>Loop_Party_2.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormParty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Party_2.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Party2Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Party_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Party_2</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FormCeremony</name>
        <dataType>String</dataType>
        <expression>&apos;Ceremony&apos; &amp; &apos; &apos; &amp; {!HourCeremony}</expression>
    </formulas>
    <formulas>
        <name>FormCocktail</name>
        <dataType>String</dataType>
        <expression>&apos;Cocktail&apos; &amp; &apos; &apos; &amp; {!HourCocktail}</expression>
    </formulas>
    <formulas>
        <name>FormDinner</name>
        <dataType>String</dataType>
        <expression>&apos;Dinner&apos; &amp; &apos; &apos; &amp; {!HourDinner}</expression>
    </formulas>
    <formulas>
        <name>FormLunch</name>
        <dataType>String</dataType>
        <expression>&apos;Lunch&apos; &amp; &apos; &apos; &amp; {!HourLunch}</expression>
    </formulas>
    <formulas>
        <name>FormParty</name>
        <dataType>String</dataType>
        <expression>&apos;Party&apos; &amp; &apos; &apos; &amp; {!HourParty}</expression>
    </formulas>
    <interviewLabel>Assign Days and Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Days and Details</label>
    <loops>
        <name>Loop_Ceremony_1</name>
        <label>Loop Ceremony 1</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <collectionReference>Ceremony1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Details_Ceremony_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Ceremony_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Ceremony_2</name>
        <label>Loop Ceremony 2</label>
        <locationX>176</locationX>
        <locationY>1034</locationY>
        <collectionReference>Ceremony2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Details_Ceremony_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Cocktail_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Cocktail_1</name>
        <label>Loop Cocktail 1</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <collectionReference>Cocktail1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Details_Cocktail_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Cocktail_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Cocktail_2</name>
        <label>Loop Cocktail 2</label>
        <locationX>176</locationX>
        <locationY>1634</locationY>
        <collectionReference>Cocktail2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cocktail_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Dinner_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Dinner_1</name>
        <label>Loop Dinner 1</label>
        <locationX>176</locationX>
        <locationY>1934</locationY>
        <collectionReference>Dinner1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Details_Dinner_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Dinner_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Dinner_2</name>
        <label>Loop Dinner 2</label>
        <locationX>176</locationX>
        <locationY>2234</locationY>
        <collectionReference>Dinner2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Details_Dinner_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Dinner_3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Dinner_3</name>
        <label>Loop Dinner 3</label>
        <locationX>176</locationX>
        <locationY>2534</locationY>
        <collectionReference>Dinner3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Details_Dinner_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Party_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Lunch_1</name>
        <label>Loop Lunch 1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>Lunch1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Details_Lunch_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Lunch_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Lunch_2</name>
        <label>Loop Lunch 2</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <collectionReference>Lunch2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Details_Lunch_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Ceremony_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Party_1</name>
        <label>Loop Party 1</label>
        <locationX>176</locationX>
        <locationY>2834</locationY>
        <collectionReference>Party1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Details_Party_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Party_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Party_2</name>
        <label>Loop Party 2</label>
        <locationX>176</locationX>
        <locationY>3134</locationY>
        <collectionReference>Party2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Details_Party_2</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Lunch_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Ceremony1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Ceremony1Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Ceremony2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Ceremony2Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Cocktail1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Cocktail1Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Cocktail2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Cocktail2Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Day</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Dinner1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Dinner1Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Dinner2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Dinner2Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Dinner3</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Dinner3Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>HourCeremony</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HourCocktail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HourDinner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HourLunch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HourParty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lunch1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Lunch1Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Lunch2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Lunch2Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Party1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Party1Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Party2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Party2Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
</Flow>
