force-app/main/default/flows/Conferma_Disdici_organizzazione.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Conferma</name>
        <choiceText>Tutto organizzato</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conferma</stringValue>
        </value>
    </choices>
    <choices>
        <name>Disdici</name>
        <choiceText>Non ancora organizzato</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disdici</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Sì</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sì</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Double_Confirmation</name>
        <label>Check Double Confirmation</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Void</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Sure</defaultConnectorLabel>
        <rules>
            <name>Sure_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reconfirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choice_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Conferma</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_T_O_TRUE</targetReference>
            </connector>
            <label>Sure - Confirm</label>
        </rules>
        <rules>
            <name>Sure_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reconfirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choice_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Disdici</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_T_O_FALSE</targetReference>
            </connector>
            <label>Sure - Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>600</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Not_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Closed Won</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiuse/Conseguite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_T_O</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_T_O</name>
        <label>Check T.O.</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Confirm_or_Cancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Organized</defaultConnectorLabel>
        <rules>
            <name>Organized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Tutto_Organizzato__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_or_Cancel_2</targetReference>
            </connector>
            <label>Organized</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Proceed_or_not</name>
        <label>Proceed or not?</label>
        <locationX>94</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Void</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not proceed</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Disdici</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Double_Confirmation</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_or_not</name>
        <label>Proceed or not?</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Void</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not proceed</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Conferma</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Double_Confirmation</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Conferma/Disdici organizzazione {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conferma/Disdici organizzazione</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Opportunity_T_O_FALSE</name>
        <label>Update Opportunity T.O. FALSE</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Confirmation_FALSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tutto_Organizzato__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_T_O_TRUE</name>
        <label>Update Opportunity T.O. TRUE</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Confirmation_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tutto_Organizzato__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Confirm_or_Cancel</name>
        <label>Confirm or Cancel</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Proceed_or_not</targetReference>
        </connector>
        <fields>
            <name>Question</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Non hai ancora confermato che sia tutto organizzato, vuoi farlo ora?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirm_or_Cancel_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_or_Cancel_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Choice_1</name>
            <choiceReferences>Conferma</choiceReferences>
            <choiceReferences>Disdici</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Scegli se confermare o disdire</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_or_Cancel_2</name>
        <label>Confirm or Cancel</label>
        <locationX>94</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Proceed_or_not</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Question</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Hai già confermato che è tutto organizzato, vuoi annullare la scelta?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirm_or_Cancel_2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_or_Cancel_2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Choice_2</name>
            <choiceReferences>Conferma</choiceReferences>
            <choiceReferences>Disdici</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Scegli se confermare o disdire</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_FALSE</name>
        <label>Confirmation FALSE</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanks_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(39, 150, 6);&quot;&gt;Hai annullato correttamente, puoi cliccare su &quot;Fine&quot; per chiudere il flusso.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fine</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_TRUE</name>
        <label>Confirmation TRUE</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(39, 150, 6);&quot;&gt;Hai confermato che è tutto organizzato, puoi cliccare su &quot;Fine&quot; per chiudere il flusso.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fine</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Double_Confirmation</name>
        <label>Double Confirmation</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Indietro</backButtonLabel>
        <connector>
            <targetReference>Check_Double_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Reconfirm</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sei sicuro/a (Hotel, Agibilità di Fabio, Fornitori , Tecnici , Artisti , Commissioni, Varie)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Closed_Won</name>
        <label>Not Closed Won</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InfoMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 30);&quot;&gt;Attenzione, questa Opportunità non è  Chiusa Vinta, non puoi ancora confermare o disdire l&apos;organizzazione.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fine</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Void</name>
        <label>Void</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Indietro</backButtonLabel>
        <fields>
            <name>VoidConfirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(24, 163, 17);&quot;&gt;Non è stata effettuata alcuna modifica, puoi chiudere il flusso cliccando su &quot;Fine&quot;, o puoi tornare indietro e cambiare la tua scelta.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fine</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Stage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
