force-app/main/default/flows/Contrassegna_come_spam.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_values_to_Blacklist</name>
        <label>Assign values to Blacklist</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>BlacklistRecord.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Leads.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BlacklistRecord.Lead_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Blacklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BlacklistRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Leads</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Annulla</name>
        <choiceText>Annulla</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annulla</stringValue>
        </value>
    </choices>
    <choices>
        <name>Procedi</name>
        <choiceText>Procedi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Procedi</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_choice</name>
        <label>Check choice</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Annullare</defaultConnectorLabel>
        <rules>
            <name>Procedere</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scegli_se_procedere</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Procedi</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leads</targetReference>
            </connector>
            <label>Procedere</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_list</name>
        <label>Check list</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Leads</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lista_Lead</targetReference>
            </connector>
            <label>Not empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LeadName</name>
        <dataType>String</dataType>
        <expression>{!Leads.FirstName} &amp; &apos; &apos; &amp; {!Leads.LastName}</expression>
    </formulas>
    <interviewLabel>Contrassegna come spam {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contrassegna come spam</label>
    <loops>
        <name>Leads</name>
        <label>Leads</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_Blacklist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_to_blacklist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_to_blacklist</name>
        <label>Add to blacklist</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Delete_Leads</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_message</targetReference>
        </faultConnector>
        <inputReference>Blacklist</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Leads</name>
        <label>Delete Leads</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Delete_Opportunities</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error_message</targetReference>
        </faultConnector>
        <inputReference>Get_Leads</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Opportunities</name>
        <label>Delete Opportunities</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Conferma_cancellazione</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Error_message</targetReference>
        </faultConnector>
        <inputReference>Get_Opportunities</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Conferma_cancellazione</name>
        <label>Conferma cancellazione</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(10, 199, 32);&quot;&gt;I Lead e le relative Opportunità ed Eventi sono stati cancellati. Cliccare su FINE per terminare il flusso&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fine</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_message</name>
        <label>Error message</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fine</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Error_message</name>
        <label>Error message</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Si è verificato un errore nella cancellazione delle Opportunità, ma i Lead selezionati sono stati spostati nella blacklist.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Di seguito l&apos;errore:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fine</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_message</name>
        <label>Error message</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fine</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lista_Lead</name>
        <label>Lista Lead</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_choice</targetReference>
        </connector>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Di seguito i Lead che hai contrassegnato come spam. Proseguendo, verranno eliminati i Lead e le relative Opportunità ed Eventi; le email verranno aggiunte alla lista nera. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Vuoi procedere?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Scegli_se_procedere</name>
            <choiceReferences>Procedi</choiceReferences>
            <choiceReferences>Annulla</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Scegli se procedere</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Lead</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Lead</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lead selezionati</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Leads</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7f56&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nome&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-38a7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Lead</name>
        <label>No Lead</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoSelection</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(251, 8, 8);&quot;&gt;Non hai selezionato alcun Lead, si prega di riprovare.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fine</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leads</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Blacklist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Blacklist_email__c</objectType>
    </variables>
    <variables>
        <name>BlacklistRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Blacklist_email__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
