force-app/main/default/flows/Crea_Quote_Lines_e_Interviews.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Discount_Applicable</name>
        <label>Discount Applicable?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Create_Quote_Lines_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Discount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Quote_Lines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>VAT_applicable</name>
        <label>VAT applicable?</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Update_Synced_Quote_on_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No VAT</defaultConnectorLabel>
        <rules>
            <name>Yes_VAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Quote</targetReference>
            </connector>
            <label>Yes VAT</label>
        </rules>
    </decisions>
    <description>Flow richiamato dallo screen flow &quot;Opportunity Wedding&quot;, per creare i Quote Lines e aggiornare il Quote.</description>
    <environments>Default</environments>
    <formulas>
        <name>formQuoteVAT</name>
        <dataType>Currency</dataType>
        <expression>{!Get_New_Quote.TotalPrice} * 0.22</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Crea Quote Lines e Interview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Quote Lines</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote_Lines_1</name>
        <label>Create Quote Lines 1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>VAT_applicable</targetReference>
        </connector>
        <inputReference>Transform_Quote_Lines</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Lines_2</name>
        <label>Create Quote Lines 2</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>VAT_applicable</targetReference>
        </connector>
        <inputReference>TotalQuoteLines</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Quote</name>
        <label>Get New Quote</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Tax_on_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Synced_Quote_on_Opportunity</name>
        <label>Update Synced Quote on Opportunity</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>NewQuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tax_on_Quote</name>
        <label>Update Tax on Quote</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_Synced_Quote_on_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewQuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tax</field>
            <value>
                <elementReference>formQuoteVAT</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Discount_Applicable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Quote_Lines</name>
        <label>Transform Quote Lines</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Create_Quote_Lines_1</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>QuoteLineItem</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Day__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].Day__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Day_Text__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].Day_Text__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].Description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].Description__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Details__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].Details__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>LineNumber</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].LineNumber</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Link_Prodotto__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].Link_Prodotto__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ListPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].ListPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OpportunityLineItemId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].OpportunityLineItemId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>PricebookEntryId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].PricebookEntryId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product2Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].Product2Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Quantity</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].Quantity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>QuoteId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].QuoteId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ServiceDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].ServiceDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Subtotal</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].Subtotal</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TotalPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].TotalPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>UnitPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].UnitPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Discount</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Discount</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IsDeleted</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>TotalQuoteLines[$EachItem].IsDeleted</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Remove_null_interviews</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview__c</objectType>
    </variables>
    <variables>
        <name>Discount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NewQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TotalQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>VAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
