force-app/main/default/flows/Event_Trigger_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Deleted_to_true</name>
        <label>Set Deleted to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_subflow</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Event Trigger | Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Trigger | Deleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Deleted_to_true</targetReference>
        </connector>
        <filterFormula>CONTAINS({!$Record.Subject}, {!$Setup.UserIds__c.Event_Subject__c})</filterFormula>
        <object>Event</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_subflow</name>
        <label>Call subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Aggiorna_chiamata_prenotata_su_Opportunita</flowName>
        <inputAssignments>
            <name>eventRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isDeleted</name>
            <value>
                <elementReference>isDeleted</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>isDeleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
