force-app/main/default/flows/Genera_contratto_cliente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_English_Contract</name>
        <label>Send English Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>emailAddress</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>info@fabiodex.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectEnglish</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyEnglish</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Italian_Contract</name>
        <label>Send Italian Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>emailAddress</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>info@fabiodex.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectItalian</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyItalian</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Opp_Id_to_link</name>
        <label>Add Opp Id to link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_custom_metadata.Form_Link__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_email</name>
        <label>Assign email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>emailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NuovaEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_language</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_language</name>
        <label>Assign language</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>language</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_language_from_Quote.Customer_Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_custom_metadata</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cambia_lingua</name>
        <choiceText>Cambia lingua</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cambia lingua</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conferma</name>
        <choiceText>Conferma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conferma</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conferma_lingua</name>
        <choiceText>Conferma lingua</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conferma lingua</stringValue>
        </value>
    </choices>
    <choices>
        <name>Modifica</name>
        <choiceText>Modifica</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifica</stringValue>
        </value>
    </choices>
    <choices>
        <name>Modifica_lingua</name>
        <choiceText>Modifica lingua</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifica lingua</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_choice</name>
        <label>Check choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_language</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Confirm</defaultConnectorLabel>
        <rules>
            <name>Modify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Conferma_o_modifica_email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Modifica</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_email</targetReference>
            </connector>
            <label>Modify</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_language</name>
        <label>Check language</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Italian_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Italian</defaultConnectorLabel>
        <rules>
            <name>English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SyncedQuote.Customer_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_English_Contract</targetReference>
            </connector>
            <label>English</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_query_result</name>
        <label>Check query result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_form_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record not found</defaultConnectorLabel>
        <rules>
            <name>Record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opp_Id_to_link</targetReference>
            </connector>
            <label>Record found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Genera contratto cliente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Genera contratto cliente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_custom_metadata</name>
        <label>Get custom metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_query_result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>language</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Jotform_link_mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_language_from_Quote</name>
        <label>Get language from Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_language</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Customer_Language__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 14, 14);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_form_available</name>
        <label>No form available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InfoMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(202, 17, 17);&quot;&gt;Non è stato possibile trovare alcun modulo in questa lingua.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_email</name>
        <label>Select email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_choice</targetReference>
        </connector>
        <fields>
            <name>Lingua</name>
            <fieldText>&lt;p&gt;Il link al contratto è il seguente: &lt;a href=&quot;{!Get_custom_metadata.Form_Link__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(35, 112, 199);&quot;&gt;&lt;strong&gt;&lt;u&gt;Link contratto&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;L&apos;email a cui verrà inviato il contratto è &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!recordId.Lead__r.Email}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;. Vuoi confermarla o modificarla?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Conferma_o_modifica_email</name>
            <choiceReferences>Conferma</choiceReferences>
            <choiceReferences>Modifica</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Conferma o modifica email</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NuovaEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Conferma_o_modifica_email</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Modifica</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_language</name>
        <label>Select language</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_language</targetReference>
        </connector>
        <fields>
            <name>infoLanguage</name>
            <fieldText>&lt;p&gt;La lingua scelta per il cliente è &lt;strong&gt;{!Get_language_from_Quote.Customer_Language__c}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;Se si desidera modificarla, usare il menu a tendina di seguito; il contratto sarà generato nella lingua scelta.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_language_from_Quote.Customer_Language__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_language_from_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyEnglish</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!recordId.First_Name_Customer_1__c} and {!recordId.First_Name_Customer_2__c}, we are almost there!&lt;/p&gt;&lt;p&gt;The only thing left to do is to sign your contract.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click on the &lt;a href=&quot;https://fabiodex2023--uat.sandbox.lightning.force.com/builder_platform_interaction/%7B!Get_custom_metadata.Form_Link__c%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211);&quot;&gt;&lt;strong&gt;&lt;u&gt;following link&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt; to review the contract and sign it. The contract also contains the original Italian version for read only purpose.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Many thanks and speak soon!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;fabiodex srl - Tuscany Entertainment&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;Luxury DJ,&amp;nbsp;artists - superstar management - audio lights &amp;amp; video rental&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;only private parties&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;Limited company in Firenze&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;Let’s talk about your event here with Meet&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;📝&lt;/span&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;→&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;a href=&quot;https://calendar.app.google/1GuhbN9j1zEJb7176&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&lt;strong&gt;https://calendar.app.google/1GuhbN9j1zEJb7176&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;No time zone math&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;🌎&lt;/span&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;— just pick your time, then get your quote!&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;✨&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.www.fabiodex.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;www.fabiodex.com&lt;/a&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;-&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.youtube.com/@djfabiodex&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;Youtube&lt;/a&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;-&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.instagram.com/fabiodex_tuscanweddingdj/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;Instagram&amp;nbsp;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.tuscanyentertainment.it/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;www.tuscanyentertainment.it&lt;/a&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;-&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.youtube.com/@Tuscanyentertainment&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;Youtube&lt;/a&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;-&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.instagram.com/tuscanyentertainmentagency/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;Instagram&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;+39 3479050643 -&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;h24/7 -&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>bodyItalian</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Ciao {!recordId.First_Name_Customer_1__c} e {!recordId.First_Name_Customer_2__c}, ci siamo quasi!&lt;/p&gt;&lt;p&gt;L&apos;unica cosa che resta da fare è firmare il contratto.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Clicca sul &lt;a href=&quot;{!Get_custom_metadata.Form_Link__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;&lt;u&gt;seguente link&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt; per rivederlo e firmarlo digitalmente.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Grazie mille e a presto!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif; font-size: 36px;&quot;&gt;fabiodex srl - Tuscany Entertainment&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;Luxury DJ,&amp;nbsp;artists - superstar management - audio lights &amp;amp; video rental&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;only private parties&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;Limited company in Firenze&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;Let’s talk about your event here with Meet&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;📝&lt;/span&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;→&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;a href=&quot;https://calendar.app.google/1GuhbN9j1zEJb7176&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif; color: rgb(1, 118, 211);&quot;&gt;&lt;strong&gt;https://calendar.app.google/1GuhbN9j1zEJb7176&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;No time zone math&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;🌎&lt;/span&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;— just pick your time, then get your quote!&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;✨&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.www.fabiodex.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211); font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;www.fabiodex.com&lt;/a&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;-&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.youtube.com/@djfabiodex&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif; color: rgb(1, 118, 211);&quot;&gt;Youtube&lt;/a&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;-&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.instagram.com/fabiodex_tuscanweddingdj/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif; color: rgb(1, 118, 211);&quot;&gt;Instagram&amp;nbsp;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.tuscanyentertainment.it/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211); font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;www.tuscanyentertainment.it&lt;/a&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;-&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.youtube.com/@Tuscanyentertainment&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif; color: rgb(1, 118, 211);&quot;&gt;Youtube&lt;/a&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;&amp;nbsp;-&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.instagram.com/tuscanyentertainmentagency/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif; color: rgb(1, 118, 211);&quot;&gt;Instagram&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;+39 3479050643 -&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-family: Didot, &amp;quot;Hoefler Text&amp;quot;, &amp;quot;Times New Roman&amp;quot;, Times, serif;&quot;&gt;h24/7 -&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>subjectEnglish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Here is the contract for your event {!recordId.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>subjectItalian</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ecco il contratto per il tuo evento {!recordId.Name}</text>
    </textTemplates>
    <variables>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.Lead__r.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
