force-app/main/default/flows/Notifica_3_mesi_da_ultimo_contatto_WP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_3_months_Account</name>
        <label>Notify 3 months Account</label>
        <locationX>156</locationX>
        <locationY>1608</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Remove_Recipient_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TitleAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>forAccounts.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_3_months_Lead</name>
        <label>Notify 3 months Lead</label>
        <locationX>156</locationX>
        <locationY>900</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Remove_Recipient_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TitleLead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyLead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>forLeads.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Recipient_Account</name>
        <label>Assign Recipient Account</label>
        <locationX>156</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forAccounts.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_3_months_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Lead</name>
        <label>Assign Recipient Lead</label>
        <locationX>156</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forLeads.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_3_months_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Recipient_Account</name>
        <label>Remove Recipient Account</label>
        <locationX>156</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>forAccounts.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Recipient_Lead</name>
        <label>Remove Recipient Lead</label>
        <locationX>156</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>forLeads.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forLeads</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Accounts</name>
        <label>Check Accounts</label>
        <locationX>176</locationX>
        <locationY>1284</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>forAccounts</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Leads</name>
        <label>Check Leads</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Check_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Leads_not_converted</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>forLeads</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodayMeno90</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 90</expression>
    </formulas>
    <interviewLabel>Notifica 3 mesi da ultimo contatto WP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notifica 3 mesi da ultimo contatto WP</label>
    <loops>
        <name>forAccounts</name>
        <label>forAccounts</label>
        <locationX>68</locationX>
        <locationY>1392</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Recipient_Account</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>forLeads</name>
        <label>forLeads</label>
        <locationX>68</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_Leads_not_converted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Recipient_Lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ultima_chiamata_visita_vendita__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodayMeno90</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads_not_converted</name>
        <label>Get Leads not converted</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ultima_chiamata_visita_vendita__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodayMeno90</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ultimo_Contatto</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leads_not_converted</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-01</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyAccount</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Sono passati 3 mesi dall&apos;ultimo contatto con l&apos;Account {!forAccounts.Name}. Cliccare qui per vedere l&apos;Account.</text>
    </textTemplates>
    <textTemplates>
        <name>BodyLead</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Sono passati 3 mesi dall&apos;ultimo contatto con il Lead {!forLeads.FirstName} {!forLeads.LastName}. Cliccare qui per vedere il Lead.</text>
    </textTemplates>
    <textTemplates>
        <name>TitleAccount</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Tre mesi dall&apos;ultimo contatto con l&apos;Account</text>
    </textTemplates>
    <textTemplates>
        <name>TitleLead</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Tre mesi dall&apos;ultimo contatto con il Lead</text>
    </textTemplates>
    <variables>
        <name>recipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
