force-app/main/default/flows/Promemoria_conversione_Lead_dopo_Close_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Closing_Opportunity</name>
        <label>Closing Opportunity</label>
        <locationX>138</locationX>
        <locationY>2232</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Open_Opps</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Open_Opps.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_Owner</name>
        <label>Notify Owner</label>
        <locationX>138</locationX>
        <locationY>1116</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Remove_Recipient_Id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Opportunities.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Recipient_and_Reminder_Sent</name>
        <label>Assign Recipient and Reminder Sent</label>
        <locationX>138</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunities.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunities.TECH_ReminderSent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Opportunities</name>
        <label>Close Opportunities</label>
        <locationX>138</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>Open_Opps.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mal gestita</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Open_Opps.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chiuse/Perse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpenOppsToClose</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Open_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closing_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Recipient_Id</name>
        <label>Remove Recipient Id</label>
        <locationX>138</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Opportunities.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunities</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Open_Opportunities</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Open Opportunities</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <assignNextValueToReference>currentItem_Open_Opportunities</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opportunities</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Open_Opportunities.StageName</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Chiuse/Conseguite</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Open_Opportunities.Event_Start_Date__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Today</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Open_Opportunities.StageName</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Chiuse/Perse</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_won_opportunities</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Won_Opportunities</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Won Opportunities</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignNextValueToReference>currentItem_Won_Opportunities</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opportunities</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Won_Opportunities.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Chiuse/Conseguite</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Won_Opportunities.Lead__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Won_Opportunities.TECH_ReminderSent__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Open_Opportunities</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Converted_Lead</name>
        <label>Check Converted Lead</label>
        <locationX>270</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Converted</defaultConnectorLabel>
        <rules>
            <name>Not_converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunities.Lead__r.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipient_and_Reminder_Sent</targetReference>
            </connector>
            <label>Not converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_open_opportunities</name>
        <label>Check open opportunities</label>
        <locationX>182</locationX>
        <locationY>1692</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Open_Opportunities</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_users</targetReference>
            </connector>
            <label>Not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_won_opportunities</name>
        <label>Check won opportunities</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Check_open_opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Won_Opportunities</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunities</targetReference>
            </connector>
            <label>Records found</label>
        </rules>
    </decisions>
    <description>Flow che invia una notifica automatica se l&apos;Opportunità è chiusa vinta e il Lead non è ancora convertito, oppure invia notifica se la data di inizio evento è uguale alla data odierna e l&apos;Opportunità non è ancora chiusa vinta, in tal caso imposta l&apos;Opportunità su Chiusa Persa con motivazione &quot;Mal Gestita&quot; e notifica personalizzata.</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TodayMinusOne</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 1</expression>
    </formulas>
    <interviewLabel>Promemoria conversione Lead dopo Close Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Promemoria conversione Lead e chiusura automatica Opportunità</label>
    <loops>
        <name>Open_Opps</name>
        <label>Open Opps</label>
        <locationX>50</locationX>
        <locationY>2016</locationY>
        <collectionReference>Open_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Close_Opportunities</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Opportunities_with_reason</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Opportunities</name>
        <label>Opportunities</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <collectionReference>Won_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Converted_Lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Reminder_Sent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Won_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conversione_Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chiuse/Conseguite</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TECH_ReminderSent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Chiuse/Conseguite</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Chiuse/Perse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_users</name>
        <label>Get users</label>
        <locationX>50</locationX>
        <locationY>1800</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecipientIds</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fabio Cisternino</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amministrazione Carvalho</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Opportunities_with_reason</name>
        <label>Close Opportunities with reason</label>
        <locationX>50</locationX>
        <locationY>2424</locationY>
        <inputReference>OpenOppsToClose</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reminder_Sent</name>
        <label>Update Reminder Sent</label>
        <locationX>50</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>Check_open_opportunities</targetReference>
        </connector>
        <inputReference>UpdatedOpportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-13</startDate>
            <startTime>08:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ricordati di convertire il Lead legato all&apos;Opportunità {!Opportunities.Name}. Clicca qui per vedere l&apos;Opportunità.</text>
    </textTemplates>
    <textTemplates>
        <name>Body2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>La seguente Opportunità {!Open_Opps.Name} è stata chiusa con motivazione &quot;Mal Gestita&quot;, perché la data di inizio evento è oggi e non era stata contrassegnata come Chiusa Vinta. Clicca qui per vedere l&apos;Opportunità.</text>
    </textTemplates>
    <textTemplates>
        <name>Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Convertire Lead per l&apos;Opportunità {!Opportunities.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Title2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Opportunità mal gestita</text>
    </textTemplates>
    <transforms>
        <name>RecipientIds</name>
        <label>RecipientIds</label>
        <locationX>50</locationX>
        <locationY>1908</locationY>
        <connector>
            <targetReference>Open_Opps</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_users[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Open_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Won_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpenOppsToClose</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
