force-app/main/default/flows/Reminder_secondo_pagamento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_No_Email</name>
        <label>No Email</label>
        <locationX>930</locationX>
        <locationY>1656</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Email non inviata</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Iterate_Opportunities.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_No_Email</name>
        <label>No Email</label>
        <locationX>2162</locationX>
        <locationY>1872</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Email non inviata</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Iterate_Opportunities.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>No_Email</name>
        <label>No Email</label>
        <locationX>402</locationX>
        <locationY>1656</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Email non inviata</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Iterate_Opportunities.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_Fabio</name>
        <label>Notify Fabio</label>
        <locationX>1938</locationX>
        <locationY>1440</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Remove_Recipient</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TitleNotificationFabio</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyNotificationFabio</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Iterate_Opportunities.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_internal_users</name>
        <label>Notify internal users</label>
        <locationX>974</locationX>
        <locationY>2472</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Iterate_Opportunities</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TitleAll</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyAll</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Iterate_Opportunities.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_Sabrina</name>
        <label>Notify Sabrina</label>
        <locationX>2202</locationX>
        <locationY>1440</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Remove_Recipient_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TitleNotificationSabrina</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyNotificationSabrina</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Iterate_Opportunities.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reminder_pagamento_Business_Account</name>
        <label>Reminder pagamento Business Account</label>
        <locationX>1898</locationX>
        <locationY>1656</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Primary_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_recipient_Id</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Primary_Contacts.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@fabiodex.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Get_Email_Template.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyPersAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Iterate_Opportunities.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reminder_pagamento_Lead</name>
        <label>Reminder pagamento Lead</label>
        <locationX>138</locationX>
        <locationY>1440</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_recipients</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_recipient_Id</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Iterate_Opportunities.Lead__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@fabiodex.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Get_Email_Template.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyLead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Iterate_Opportunities.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reminder_pagamento_Person_Account</name>
        <label>Reminder pagamento Person Account</label>
        <locationX>666</locationX>
        <locationY>1440</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_recipients</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Assign_recipient_Id</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Iterate_Opportunities.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@fabiodex.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Get_Email_Template.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyPersAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Iterate_Opportunities.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_recipients</name>
        <label>Add recipients</label>
        <locationX>974</locationX>
        <locationY>2364</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_Fabio.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_Sabrina.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_internal_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Fabio</name>
        <label>Assign Recipient Fabio</label>
        <locationX>1938</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_Fabio.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Fabio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recipient_Id</name>
        <label>Assign recipient Id</label>
        <locationX>402</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Opportunities.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Sabrina</name>
        <label>Assign Recipient Sabrina</label>
        <locationX>2202</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_Sabrina.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Sabrina</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_recipient_Id</name>
        <label>Assign recipient Id</label>
        <locationX>2162</locationX>
        <locationY>1764</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Opportunities.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_No_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_recipient_Id</name>
        <label>Assign recipient Id</label>
        <locationX>930</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Opportunities.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_No_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Recipient</name>
        <label>Remove Recipient</label>
        <locationX>1938</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Get_User_Fabio.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Recipient_2</name>
        <label>Remove Recipient</label>
        <locationX>2202</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Get_User_Sabrina.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opportunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Days_to_Event</name>
        <label>Check Days to Event</label>
        <locationX>1720</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Iterate_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Opportunities.Data_ricezione_saldo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Opportunities.Days_to_event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Lead_or_Contact</targetReference>
            </connector>
            <label>30 Days</label>
        </rules>
        <rules>
            <name>X7_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Opportunities.Days_to_event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipient_Fabio</targetReference>
            </connector>
            <label>7 Days</label>
        </rules>
        <rules>
            <name>Today_plus_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EventPlus7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipient_Sabrina</targetReference>
            </connector>
            <label>Today plus 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_or_Contact</name>
        <label>Check Lead or Contact</label>
        <locationX>974</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>Primary_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Account</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Opportunities.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_pagamento_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Opportunities.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Opportunities.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_pagamento_Person_Account</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opp_collection</name>
        <label>Check Opp collection</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityIds</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opp_Id</name>
        <label>Check Opp Id</label>
        <locationX>2162</locationX>
        <locationY>1548</locationY>
        <defaultConnector>
            <targetReference>Primary_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Contacts.OpportunityId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Opportunities.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_pagamento_Business_Account</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EventPlus7</name>
        <dataType>Date</dataType>
        <expression>{!Iterate_Opportunities.Event_End_Date__c} + 7</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Reminder secondo pagamento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reminder secondo pagamento e data inizio evento</label>
    <loops>
        <name>Iterate_Opportunities</name>
        <label>Iterate Opportunities</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Days_to_Event</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Primary_Contacts</name>
        <label>Primary Contacts</label>
        <locationX>1810</locationX>
        <locationY>1440</locationY>
        <collectionReference>Get_Primary_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Opp_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_recipients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>30 giorni all&apos;evento</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Fabio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mancata_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opp_collection</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR 4 OR 5)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chiuse/Conseguite</stringValue>
            </value>
        </filters>
        <filters>
            <field>Data_ricezione_saldo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Days_to_event__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Days_to_event__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Days_to_event__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contacts</name>
        <label>Get Primary Contacts</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>In</operator>
            <value>
                <elementReference>OpportunityIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Fabio</name>
        <label>Get User Fabio</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Sabrina</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fabio Cisternino</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Sabrina</name>
        <label>Get User Sabrina</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amministrazione Carvalho</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-22</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>L&apos;email di reminder per l&apos;Opportunità {!Iterate_Opportunities.Name} non è stata inviata, cliccare qui per vedere l&apos;Opportunità e procedere manualmente all&apos;invio.</text>
    </textTemplates>
    <textTemplates>
        <name>BodyAll</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Attenzione, mancano 30 giorni all&apos;evento relativo all&apos;Opportunità {!Iterate_Opportunities.Name}, clicca qui per vederla.</text>
    </textTemplates>
    <textTemplates>
        <name>BodyNotificationFabio</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Attenzione, mancano solo 7 giorni all&apos;evento relativo all&apos;Opportunità {!Iterate_Opportunities.Name}, clicca qui per vederla.</text>
    </textTemplates>
    <textTemplates>
        <name>BodyNotificationSabrina</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Sono passati 7 giorni dall&apos;evento legato all&apos;Opportunità {!Iterate_Opportunities.Name}. Clicca qui per vedere l&apos;Opportunità con tutti i dettagli.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyBusAccount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;Hello {!Primary_Contacts.Contact.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium; background-color: rgb(255, 255, 255);&quot;&gt;{!Primary_Contacts.Contact.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;How are your event preparations going? hope well!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;I would like to remind you that it’s very important for us to receive the file with your music requests on time;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;Attached an example to share in the perfect way al the requests!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;I remind you in addition to be on time with the payment of the balance. Many thanks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;IBAN: IT25X0329601601000067291845&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;Piazza Vittorio Veneto, 1, 50123 Firenze FI&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;BIC - FIBKITMM -&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyLead</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;Hello {!Iterate_Opportunities.Lead__r.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium; background-color: rgb(255, 255, 255);&quot;&gt;{!Iterate_Opportunities.Lead__r.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;How are your event preparations going? hope well!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;I would like to remind you that it’s very important for us to receive the file with your music requests on time;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;Attached an example to share in the perfect way al the requests!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;I remind you in addition to be on time with the payment of the balance. Many thanks&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;IBAN: IT25X0329601601000067291845&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;Piazza Vittorio Veneto, 1, 50123 Firenze FI&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;BIC - FIBKITMM -&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyPersAccount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;Hello {!Iterate_Opportunities.Account.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Iterate_Opportunities.Account.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;How are your event preparations going? hope well!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;I would like to remind you that it’s very important for us to receive the file with your music requests on time;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;Attached an example to share in the perfect way al the requests!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;I remind you in addition to be on time with the payment of the balance. Many thanks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;IBAN: IT25X0329601601000067291845&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;Piazza Vittorio Veneto, 1, 50123 Firenze FI&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;BIC - FIBKITMM -&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TitleAll</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>30 giorni all&apos;evento</text>
    </textTemplates>
    <textTemplates>
        <name>TitleNotificationFabio</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Solo 1 settimana all&apos;evento</text>
    </textTemplates>
    <textTemplates>
        <name>TitleNotificationSabrina</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>7 giorni trascorsi dall&apos;evento</text>
    </textTemplates>
    <transforms>
        <name>OpportunityIds</name>
        <label>OpportunityIds</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Get_Primary_Contacts</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opportunities[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
