force-app/main/default/flows/Reminder_secondo_pagamento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_No_Email</name>
        <label>No Email</label>
        <locationX>842</locationX>
        <locationY>900</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Email non inviata</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>No_Email</name>
        <label>No Email</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Email non inviata</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_Fabio</name>
        <label>Notify Fabio</label>
        <locationX>1546</locationX>
        <locationY>792</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Remove_Recipient</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_retry</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TitleNotificationFabio</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyNotificationFabio</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_internal_users</name>
        <label>Notify internal users</label>
        <locationX>578</locationX>
        <locationY>1440</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_retry</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TitleAll</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyAll</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_Sabrina</name>
        <label>Notify Sabrina</label>
        <locationX>2338</locationX>
        <locationY>792</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Remove_Recipient_2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_retry</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TitleNotificationSabrina</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyNotificationSabrina</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reminder_pagamento_Lead</name>
        <label>Reminder pagamento Lead</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_users</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_recipient_Id</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Lead__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@fabiodex.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyLead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reminder_pagamento_Person_Account</name>
        <label>Reminder pagamento Person Account</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_users</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Assign_recipient_Id</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@fabiodex.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyPersAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Recipient_Fabio</name>
        <label>Assign Recipient Fabio</label>
        <locationX>1546</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_Fabio.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Fabio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recipient_Id</name>
        <label>Assign recipient Id</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Sabrina</name>
        <label>Assign Recipient Sabrina</label>
        <locationX>2338</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_Sabrina.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Sabrina</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_recipient_Id</name>
        <label>Assign recipient Id</label>
        <locationX>842</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_No_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_retry</name>
        <label>Increase retry</label>
        <locationX>1810</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>retry</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Wait_5_minutes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Recipient</name>
        <label>Remove Recipient</label>
        <locationX>1546</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Get_User_Fabio.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Recipient_2</name>
        <label>Remove Recipient</label>
        <locationX>2338</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Get_User_Sabrina.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>30 days left to your event!</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Days_to_Event</name>
        <label>Check Days to Event</label>
        <locationX>1722</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_ricezione_saldo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_to_event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Lead_or_Contact</targetReference>
            </connector>
            <label>30 Days</label>
        </rules>
        <rules>
            <name>X7_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_to_event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Fabio</targetReference>
            </connector>
            <label>7 Days</label>
        </rules>
        <rules>
            <name>Today_plus_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EventPlus7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Sabrina</targetReference>
            </connector>
            <label>Today plus 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_or_Contact</name>
        <label>Check Lead or Contact</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Get_users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Account</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_pagamento_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_pagamento_Person_Account</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_retry</name>
        <label>Check retry</label>
        <locationX>1942</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>Greater than 2</defaultConnectorLabel>
        <rules>
            <name>Less_or_equal_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>retry</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_retry</targetReference>
            </connector>
            <label>Less or equal 2</label>
        </rules>
    </decisions>
    <description>A 30 giorni dall&apos;evento manda una mail al cliente se il saldo non è stato ancora versato per ricordarglielo, inoltre invia una notifica a Fabio e Sabrina per definire i dettagli.
A 7 giorni dall&apos;evento avvisa Fabio tramite una notifica.
Dopo 7 giorni dall&apos;evento avvisa Sabrina tramite notifica.</description>
    <environments>Default</environments>
    <formulas>
        <name>EventPlus7</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Event_End_Date__c} + 7</expression>
    </formulas>
    <interviewLabel>Reminder secondo pagamento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reminder secondo pagamento e data inizio evento</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>1722</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Days_to_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mancata_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>1722</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Fabio</name>
        <label>Get User Fabio</label>
        <locationX>1546</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_Fabio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.UserIds__c.Fabio__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Sabrina</name>
        <label>Get User Sabrina</label>
        <locationX>2338</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_Sabrina</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.UserIds__c.Sabrina__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_users</name>
        <label>Get users</label>
        <locationX>578</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recipients</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.UserIds__c.Fabio__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.UserIds__c.Sabrina__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1596</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Primary_Contact</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR 4 OR 5)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chiuse/Conseguite</stringValue>
            </value>
        </filters>
        <filters>
            <field>Data_ricezione_saldo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Days_to_event__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Days_to_event__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Days_to_event__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-22</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>L&apos;email di reminder per l&apos;Opportunità {!$Record.Name} non è stata inviata, cliccare qui per vedere l&apos;Opportunità e procedere manualmente all&apos;invio.</text>
    </textTemplates>
    <textTemplates>
        <name>BodyAll</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Attenzione, mancano 30 giorni all&apos;evento relativo all&apos;Opportunità {!$Record.Name}.
Per Sabrina: richiesta saldo, comunicazione ispettorato del lavoro, seguire l&apos;evento.
Per Fabio: preparare pernotto, inviare richieste musicali agli artisti e verificare altre attività.</text>
    </textTemplates>
    <textTemplates>
        <name>BodyNotificationFabio</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Attenzione, mancano solo 7 giorni all&apos;evento relativo all&apos;Opportunità {!$Record.Name}, clicca qui per vederla.</text>
    </textTemplates>
    <textTemplates>
        <name>BodyNotificationSabrina</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Sono passati 7 giorni dall&apos;evento legato all&apos;Opportunità {!$Record.Name}. Clicca qui per vedere l&apos;Opportunità con tutti i dettagli.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyBusinessAccount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;Hello {!Get_Primary_Contact.Contact.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Primary_Contact.Contact.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;How are your event preparations going? hope well!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;I would like to remind you that it’s very important for us to receive the file with your music requests on time;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;Attached an example to share in the perfect way al the requests!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;I remind you in addition to be on time with the payment of the balance. Many thanks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;IBAN: IT25X0329601601000067291845&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;Piazza Vittorio Veneto, 1, 50123 Firenze FI&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;BIC - FIBKITMM -&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyLead</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;Hello {!$Record.Lead__r.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Lead__r.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;How are your event preparations going? Hope well!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;I would like to remind you that it’s very important for us to receive the file with your music requests on time;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;Attached an example to share in the perfect way al the requests!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;I remind you in addition to be on time with the payment of the balance. Many thanks﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;IBAN: IT25X0329601601000067291845&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;Piazza Vittorio Veneto, 1, 50123 Firenze FI&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;BIC - FIBKITMM -&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyPersAccount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;Hello {!$Record.Account.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;How are your event preparations going? Hope well!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;I would like to remind you that it’s very important for us to receive the file with your music requests on time;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;Attached an example to share in the perfect way al the requests!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;I remind you in addition to be on time with the payment of the balance. Many thanks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;IBAN: IT25X0329601601000067291845&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;Piazza Vittorio Veneto, 1, 50123 Firenze FI&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;BIC - FIBKITMM -&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TitleAll</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>30 giorni all&apos;evento, manca il saldo</text>
    </textTemplates>
    <textTemplates>
        <name>TitleNotificationFabio</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Solo 1 settimana all&apos;evento</text>
    </textTemplates>
    <textTemplates>
        <name>TitleNotificationSabrina</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>7 giorni trascorsi dall&apos;evento</text>
    </textTemplates>
    <transforms>
        <name>Recipients</name>
        <label>Recipients</label>
        <locationX>578</locationX>
        <locationY>1332</locationY>
        <connector>
            <targetReference>Notify_internal_users</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_users[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>retry</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <waits>
        <name>Wait_5_minutes</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 5 minutes</label>
        <locationX>1810</locationX>
        <locationY>1116</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Primary_Contact</targetReference>
            </connector>
            <label>el_0</label>
            <offset>3</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
