force-app/main/default/flows/Update_files_names_on_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Content_Version_Id</name>
        <label>Assign Content Version Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cvIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Files.ContentDocument.LatestPublishedVersionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Name</name>
        <label>Change Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Content_Version.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Doc.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentVersionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Content_Version</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Content_Version</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_files_list</name>
        <label>Check files list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document_Links</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Files</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Version_Id_and_Name</name>
        <label>Check Version Id and Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Content_Version</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quote_Doc.ContentVersionDocumentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Content_Version.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quote_Doc.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Content_Version.Title</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Name</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update files names on Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update files names on Quote</label>
    <loops>
        <name>Content_Version</name>
        <label>Content Version</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Content_Version</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Version_Id_and_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Quote_Doc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Files</name>
        <label>Files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Content_Document_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_Version_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Quote_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Quote_Doc</name>
        <label>Quote Doc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Quote_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Content_Version</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Content_Versions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Content_Document_Links</name>
        <label>Get Content Document Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_files_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Version</name>
        <label>Get Content Version</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Doc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>cvIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Documents</name>
        <label>Get Quote Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentVersionDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>cvIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Content_Versions</name>
        <label>Update Content Versions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>contentVersionsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Content_Document_Links</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentVersionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>cvIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
